# Copia este archivo a .env y rellena los valores.
# Estas variables serán usadas por docker-compose para configurar los contenedores.

NODE_ENV=development
PORT=3000

# Configuración de la Base de Datos
DB_DATABASE=fueltrack
DB_USER=postgres
DB_PASS=mysecretpassword
DB_HOST=db # ¡Importante! Este debe ser el nombre del servicio de la base de datos en docker-compose.yml
DB_PORT=5432
DB_HOST_PORT=5433 # solo para crear override y dar un puerto externo al servicio de la base de datos
DB_CONNECTOR=postgres

# Configuración para jwt
JWT_SECRET="clavesupersecreta(8678sdljkkljd54.)"

# --- Configuración de Licencia ---
LICENSE_KEY=TU_CLAVE_DE_LICENCIA_AQUI
LICENSE_SERVER_URL=https://tu-servidor-de-licencias.com/api
FINGERPRINT_PATH=/etc/fueltrack/fingerprint # Ruta DENTRO del contenedor